/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-global.css ***!
  \*******************************************************************************/
* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

/* Variables  */

:root {
	--box-shadow: 2px 2px 14px rgb(56, 56, 56);

    --horizontal-padding: 7vw;
	--vertical-padding: min(7vh, var(--big-gap));

	--small-gap: 8px;
	--medium-gap: 16px;
	--big-gap: 32px;
    
	--transition: 0.2s ease-out;
	--scale: scale(1.05);
    
	--border-radius: 16px;
    
	--hamburgerLine-start-position: 16px;
	--hamburgerLine-end-position: 24px;
    
    --header-height: 10vh;
    
    font-size: 16px;
}

/* Branding (colors and fonts) */

:root {
	--primary-color: #96480d;
	--on-primary-color: #ffffff;
	--secondary-color: #765847;
	--on-secondary-color: #ffffff;
	--tertiary-color: #626033;
	--on-tertiary-color: #ffffff;
	--error-color: #ba1a1a;
	--on-error-color: #ffffff;
	--background-color: #fffbff;
	--on-background-color: #201a17;
	--surface-color: #fffbff;
	--on-surface-color: #201a17;
	--surface-variant-color: #f4ded4;
	--main-font: "Poppins", Arial, Helvetica, sans-serif;
	--accent-font: "Forum", Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }
}
@media screen and (min-width: 1280px) {
    :root {
		--max-content-width: 900px;
        --horizontal-padding: calc((100vw - var(--max-content-width)) / 2);
    }
}
body {
	background-color: var(--background-color);
}
header, 
section, 
footer {
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
}
section, 
footer {
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
}
h1 {
	margin-bottom: var(--big-gap);
} 
p {
	margin-bottom: var(--medium-gap);
}

/* Global Typography  */

h1, 
h2 {
	color: black;
	font-family: var(--accent-font);
	line-height: 1.5;
}
h1 {
	font-size: 3rem;
	text-align: center;
	font-weight: bold;
}
h2 {
	font-size: 2.5rem;
	text-align: center;
}
h3 {
	font-family: var(--main-font);
	font-size: 1.2rem;
	text-align: left;
	line-height: 1.5;
	color: black;
}
p, 
input, 
label, 
ul, 
ol, 
a {
	font-family: var(--main-font);
	font-size: 1rem;
	line-height: 1.5;
}
.headline {
	text-align: center;
	font-size: 1.2rem;
	font-style: italic;
	padding-bottom: var(--medium-gap);
}
a {
	color: var(--primary-color-dark);
    color: black;
    text-decoration: none;
}
em {
	font-weight: 600;
}

/* Global Button  */

.button {
	min-width: 200px;
	height: 70px;
	border: none;
	background-color: none;
}
.buttonLink {
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-family: 'Montserrat'; */
	font-weight: bold;
	text-decoration: none;
	font-size: 22px;
	width: 100%;
	height: 100%;
	padding: var(--medium-gap);
	background-color: var(--primary-color);
	color: var(--on-primary-color);
	border-radius: var(--border-radius);
	transition: var(--transition);
}
.buttonLink:hover {
	background-color: var(--tertiary-color);
	color: var(--on-primary-color);
	transform: var(--transform);
	box-shadow: var(--box-shadow);
	transform: scale(1.05);
}

/* Contact and Social Media Icons  */

.contactIcon {
	width: 18px;
}
.contactTextLink {
	text-decoration: none;
	color: black;
}
.socialMedia {
	width: 50px;
	padding: 0 var(--small-gap) 0 var(--small-gap);
	transition: var(--transition);
}
.socialMedia:hover {
	transform: var(--transform);
}

/* Header  */

header {
	position: fixed;
	width: 100%;
	top: calc(var(--header-height) * (-1));
	height: var(--header-height);
	z-index: 1;
	padding-bottom: 0;
	padding-top: 0;
	background-color: var(--surface-variant-color);
	transition: 1s ease-out;
}
.headerAfterScroll {
	top: 0;
}
#logo {
	height: var(--header-height);
	padding: 1vh 0;
}
#headerMenu {
	max-height: 0;
	overflow: hidden;
	transition: var(--transition);
}
#headerMenu ul {
	padding: 0;
	margin: 0;
}
#headerMenu ul {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
#headerMenu ul li {
	width: 100%;
}
.headerMenu-link {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 18px; 
	padding: 0 var(--small-gap);
	line-height: 10vh;
	transition: var(--transition);
}
.headerMenu-link:hover{
	background-color: var(--primary-color);
	color: var(--on-primary-color);
	/* font-weight: 700; */
	/* text-decoration: underline; */
}
#hamburger {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;

	/* Increase the icon size to make the tappable area bigger.
		This element itself is not visible */
	height: 50px;
	width: 50px;

	/* Shift the icon to the right with a small offset the make the tappable area to the right */
	right: calc(var(--horizontal-padding) - 12.5px);
}
.hamburgerLine {
    background: black;
    display: block;
    position: absolute;

	/* Shift the lines to align with --horizontal-padding.
		This came to be because of the shift of .hamburger 
		to make the tappable are bigger */
	right: 12.5px;

    height: 2px;
    width: 25px;
    transition: var(--transition);
}
#hamburgerLine-1 {
	top: var(--hamburgerLine-start-position);
}
#hamburgerLine-2 {
	top: 0;
	bottom: 0;
	margin: auto;
}
#hamburgerLine-3{
	bottom: var(--hamburgerLine-start-position);
}
#hamburger-checkbox {
    display: none;
}
#hamburger-checkbox:checked ~ #headerMenu{
    max-height: none;
    height: 90vh;
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	/* background-image: linear-gradient(white,#bbb5c3); */
    background-color: white;

}
#hamburger-checkbox:checked ~ #hamburger #hamburgerLine-2 {
    background: transparent;
}
#hamburger-checkbox:checked ~ #hamburger #hamburgerLine-1 {
    transform: rotate(45deg);
    top: var(--hamburgerLine-end-position);
}
#hamburger-checkbox:checked ~ #hamburger #hamburgerLine-3 {
    transform: rotate(-45deg);
    bottom: var(--hamburgerLine-end-position);
}

/* Responsiveness */
@media screen and (min-width: 768px) {
    #headerMenu {
        max-height: none;
        float: right;
    }
	
	#headerMenu ul li {
		width: auto;
	}

	.headerMenu-phoneAndWhatsapp {
		display: none;
	}


    #hamburger{
        display: none;
    }
}



/* Footer  */

footer {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--medium-gap);
	background-color: var(--surface-variant-color);
}

#footer-contacts {
    width: 100%;
}

@media screen and (min-width: 768px) {
	#footer-contacts {
		max-width: 40vw;
	}
}

.footer-contactText {
	color: black;
}

#footerMenu ul {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--medium-gap)
}

#footerMenu li {
	width: max-content;
	list-style: none;
}

.footerMenu-link {
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 768px) {

	#footerMenu ul {
		text-align: center;
		flex-wrap: wrap;
		gap: var(--medium-gap);
		justify-content: space-around;
	}

	#footerMenu li {
		width: auto;
	}

}

#footer-copyright {
    width: 100%;
    padding: 0;
    margin: 0;
}
/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-about.css ***!
  \******************************************************************************/

/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-blog.css ***!
  \*****************************************************************************/

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-contact.css ***!
  \********************************************************************************/
#contactsContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: var(--small-gap);
    margin-bottom: var(--big-gap);
}

h3 {
    text-align: center;
}

.contactForm {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: var(--big-gap);
}

.form-inputContainer {
    display: grid;
}

.input-field {
    width: 350px;
}

#form-textArea {
    resize: vertical;
}
/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-product.css ***!
  \********************************************************************************/
#product {
    display: flex;
    gap: 36px;
}

#product-imagesContainer {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-mainImage {
    width: 100%;
    margin-bottom: 16px;
}

#product-imageThumbnailsContainer {
    display: flex;
    gap: 16px;
}

.product-imageThumbnail {
    width: 70px;
}

#product-info {
    flex-basis: 50%;
}

#product-packagesContainer {
    padding-bottom: 22px;
}

.product-package {
    display: inline;
    border: 1px solid black;
    padding: 8px;
}

.product-package:first-of-type {
    background-color: rgb(168, 168, 168);
}


/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-products-general.css ***!
  \*****************************************************************************************/
#productsGeneralSection {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productsGeneralContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.productGeneralContainer {
    display: grid;
    justify-items: center;
}

.productGeneralImage {
    width: 250px;
}

h3 {
    text-align: center;
}
/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-products-specific.css ***!
  \******************************************************************************************/
#productsSpecificSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsSpecificH1 {
    width: 100%;
}

.productsSpecificBreadcrumbsContainer {
    align-self: start;
}

.productsSpecificBreadcrumbsLink {
    display: inline-block;
}

#productsSpecific {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 36px;
}

.productSpecificContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-gap);
}

.productSpecific {
    width: 300px;
}

.productSpecific-image {
    width: 200px;
}

.productsH1 {
    margin-bottom: var(--vertical-padding);
}

#productsSpecific-button {
    margin-top: var(--vertical-padding);
    width: 300px;
}
/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style-index.css ***!
  \******************************************************************************/
section {
    clear: both;
}

/* Hero Section  */

#heroSection {
    height: calc(100vh);
    /* background-image: url("../graphics/background-2.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; */
}

#heroSection-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroSection-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-gap);
    flex-basis: 60%;
}

#heroSection-imageContainer {
    flex-basis: 40%;
}

/* Explanation Section  */

#explanation-imagesContainer {
    display: flex;
    justify-content: space-evenly;
}

.explanation-image {
    width: 200px;
}

/* Reviews Section */

#reviewsContainer {
    display: flex;
    gap: var(--big-gap);
}
.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--surface-variant-color);
    border-radius: var(--border-radius);
    padding: var(--medium-gap);
    gap: var(--medium-gap);
    transition: var(--transition);
}
.review:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow);
}
.review-photo {
    max-width: 100px;
}

/* Beliefs Section */

.featuresSection {
    padding-left: 0;
    padding-right: 0;
}
.feature {
    display: flex;
    align-items: center;
    gap: var(--big-gap);
    width: 100vw;
    min-height: 50vh;
    background-position: top;
    background-size: cover;
    opacity: 0;
    transition: var(--transition);
}
.feature.active {
    opacity: 1;
}
.feature-info {
    height: 50vh;
    padding: var(--horizontal-padding);
    gap: var(--big-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    backdrop-filter: blur(2px) sepia(40%) brightness(0.8);
}
.feature-info h2 {
    color: white;
}
.feature:first-of-type {
    background-image: url(belief-1.jpg);
}
.feature:nth-of-type(2) {
    background-image: url(belief-2.jpg);
}
.feature:nth-of-type(3) {
    background-image: url(belief-3.jpg);
}
.feature:nth-of-type(4) {
    background-image: url(belief-4.jpg);
    background-position: 50%;
}

/* Certifications Section */

#certifications {
    display: flex;
    gap: var(--medium-gap);
    justify-content: space-evenly;
}
.certification-imageContainer {
    flex-basis: 100px;
}
.certification-image {
    width: 100%;
    transition: var(--transition);
}
.certification-image:hover {
    transform: scale(1.1);
}

/* Products Showcase Section */

#productsContainer {
    display: flex;
    justify-content: space-evenly;
    gap: var(--big-gap);
}
.product {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--medium-gap);
    background-color: var(--surface-variant-color);
    border-radius: var(--border-radius);
    padding: var(--medium-gap);
    transition: var(--transition);
}
.product:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow);
}
.product-image {
    width: 200px;
}
.product-name {
    width: 100%;
}
#productsSection-button {
    margin-top: var(--big-gap);
    float: right;
}
#productsSection-button + p {
    clear: both;
}

/* Floating WhatsApp Button */

.floatingWhatsAppButton {
	position: sticky;
	left: calc(100vw - var(--horizontal-padding) - 60px);
	bottom: 15px;
	transition: 0.7s;
    opacity: 0;
}
.floatingWhatsAppButton.active{
    opacity: 1;
}
.floatingWhatsAppButtonImage {
	width: 60px;
	border-radius: 23%;
	padding: 0;
	transition: var(--transition);
}
.floatingWhatsAppButtonImage:hover {
	transform: scale(1.1);
	box-shadow: var(--box-shadow);
}
