section {
    clear: both;
}

/* Hero Section  */

#heroSection {
    height: calc(100vh);
    /* background-image: url("../graphics/background-2.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; */
}

#heroSection-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroSection-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-gap);
    flex-basis: 60%;
}

#heroSection-imageContainer {
    flex-basis: 40%;
}

/* Explanation Section  */

#explanation-imagesContainer {
    display: flex;
    justify-content: space-evenly;
}

.explanation-image {
    width: 200px;
}

/* Reviews Section */

#reviewsContainer {
    display: flex;
    gap: var(--big-gap);
}

.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--surface-variant-color);
    border-radius: var(--border-radius);
    padding: var(--medium-gap);
    gap: var(--medium-gap);
    transition: var(--transition);
}

.review:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow);
}

.review-photo {
    max-width: 100px;
}

/* Features Section */

.featuresSection {
    padding-left: 0;
    padding-right: 0;
}




.feature {
    display: flex;
    align-items: center;
    gap: var(--big-gap);
    width: 100vw;
    min-height: 50vh;
    background-position: top;
    background-size: cover;
}

.feature-info {
    height: 50vh;
    padding: var(--big-gap);
    gap: var(--big-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(2px) sepia(40%) brightness(0.7);
    color: white;
}

.feature-info h2 {
    color: white;
}

.feature:first-of-type {
    background-image: url("../graphics/belief-1.jpg");
}
.feature:nth-of-type(2) {
    background-image: url("../graphics/belief-2.jpg");
}
.feature:nth-of-type(3) {
    background-image: url("../graphics/belief-3.jpg");
}
.feature:nth-of-type(4) {
    background-image: url("../graphics/belief-4.jpg");
}

/* Certifications Section */

#certifications {
    display: flex;
    gap: var(--medium-gap);
    justify-content: space-evenly;
}

.certification-imageContainer {
    flex-basis: 100px;
}

.certification-image {
    width: 100%;
}

/* Products Showcase Section */

#productsContainer {
    display: flex;
    justify-content: space-evenly;
}

.product {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--medium-gap);
}

.product-image {
    width: 200px;
}

.product-name {
    width: 100%;
}

#productsSection-button {
    /* position: absolute; */
    /* right:  0; */
    /* right: 10px; */
    /* right: 0; */
    /* left: 0; */
    /* float: right; */
    margin-top: var(--medium-gap);
    float: right;
}

#productsSection-button + p {
    clear: both;
}