#contactsContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 32px;
}

h3 {
    text-align: center;
}

.contactForm {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: var(--big-gap);
}



.form-inputContainer {
    display: grid;
}

.input-field {
    width: 350px;
}

#form-textArea {
    resize: vertical;
}