section {
    clear: both;
}

/* Hero Section  */

#heroSection {
    height: calc(100vh);
    /* background-image: url("../graphics/background-2.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; */
}

#heroSection-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroSection-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-gap);
    flex-basis: 60%;
}

#heroSection-imageContainer {
    flex-basis: 40%;
}

/* Explanation Section  */

#explanation-imagesContainer {
    display: flex;
    justify-content: space-evenly;
}

.explanation-image {
    width: 200px;
}

/* Reviews Section */

#reviewsContainer {
    display: flex;
    gap: var(--big-gap);
}
.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--surface-variant-color);
    border-radius: var(--border-radius);
    padding: var(--medium-gap);
    gap: var(--medium-gap);
    transition: var(--transition);
}
.review:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow);
}
.review-photo {
    max-width: 100px;
    border-radius: 50%;
}

/* Beliefs Section */

.featuresSection {
    padding-left: 0;
    padding-right: 0;
}
.feature {
    display: flex;
    align-items: center;
    gap: var(--big-gap);
    width: 100vw;
    min-height: 50vh;
    background-position: top;
    background-size: cover;
    opacity: 0;
    transition: var(--transition);
}
.feature.active {
    opacity: 1;
}
.feature-info {
    height: 50vh;
    padding: var(--horizontal-padding);
    gap: var(--big-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    backdrop-filter: blur(2px) sepia(40%) brightness(0.8);
}
.feature-info h2 {
    color: white;
}
.feature:first-of-type {
    background-image: url("../graphics/belief-1.jpg");
}
.feature:nth-of-type(2) {
    background-image: url("../graphics/belief-2.jpg");
}
.feature:nth-of-type(3) {
    background-image: url("../graphics/belief-3.jpg");
}
.feature:nth-of-type(4) {
    background-image: url("../graphics/belief-4.jpg");
    background-position: 50%;
}

/* Certifications Section */

#certifications {
    display: flex;
    gap: var(--medium-gap);
    justify-content: space-evenly;
}
.certification-imageContainer {
    flex-basis: 100px;
}
.certification-image {
    width: 100%;
    transition: var(--transition);
}
.certification-image:hover {
    transform: scale(1.1);
}

/* Products Showcase Section */

#productsContainer {
    display: flex;
    justify-content: space-evenly;
    gap: var(--big-gap);
}
.product {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--medium-gap);
    background-color: var(--surface-variant-color);
    border-radius: var(--border-radius);
    padding: var(--medium-gap);
    transition: var(--transition);
}
.product:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow);
}
.product-image {
    width: 200px;
}
.product-name {
    width: 100%;
}
#productsSection-button {
    margin-top: var(--big-gap);
    float: right;
}
#productsSection-button + p {
    clear: both;
}

/* Floating WhatsApp Button */

.floatingWhatsAppButton {
	position: sticky;
	left: calc(100vw - var(--horizontal-padding) - 60px);
	bottom: 15px;
	transition: 0.7s;
    opacity: 0;
}
.floatingWhatsAppButton.active{
    opacity: 1;
}
.floatingWhatsAppButtonImage {
	width: 60px;
	border-radius: 23%;
	padding: 0;
	transition: var(--transition);
}
.floatingWhatsAppButtonImage:hover {
	transform: scale(1.1);
	box-shadow: var(--box-shadow);
}