#productsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#products {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 36px;
}

.product {
    width: 300px;
}


h1 {
    margin-bottom: var(--vertical-padding);
}

#products-button {
    margin-top: var(--vertical-padding);
}